## Preprocessing

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

IS_SUCCESSFUL = Target

Features =APPLICATION_TYPE,AFFILIATION	CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS	INCOME_AMT,	SPECIAL_CONSIDERATIONS,	ASK_AMT

In [7]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(labels=["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [8]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [9]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C1728        1
C1370        1
C2570        1
C2600        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
replace_class = list(class_counts[class_counts < 1800].index)

# Replace in dataframe
for cls in replace_class:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [24]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [25]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=28)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

X_train.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=80
hidden_nodes_layer2=30

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [29]:
# Compile the model
nn_model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy', tf.keras.metrics.Recall()])

In [30]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 1ms/step - loss: 0.5772 - accuracy: 0.7158 - recall: 0.7723 - val_loss: 0.5556 - val_accuracy: 0.7261 - val_recall: 0.7814
Epoch 2/100
684/684 [==============================] - 1s 883us/step - loss: 0.5574 - accuracy: 0.7296 - recall: 0.7841 - val_loss: 0.5532 - val_accuracy: 0.7245 - val_recall: 0.7727
Epoch 3/100
684/684 [==============================] - 0s 660us/step - loss: 0.5542 - accuracy: 0.7304 - recall: 0.7871 - val_loss: 0.5547 - val_accuracy: 0.7232 - val_recall: 0.7664
Epoch 4/100
684/684 [==============================] - 0s 644us/step - loss: 0.5518 - accuracy: 0.7302 - recall: 0.7902 - val_loss: 0.5557 - val_accuracy: 0.7266 - val_recall: 0.8045
Epoch 5/100
684/684 [==============================] - 0s 620us/step - loss: 0.5511 - accuracy: 0.7302 - recall: 0.7887 - val_loss: 0.5524 - val_accuracy: 0.7264 - val_recall: 0.7949
Epoch 6/100
684/684 [==============================] - 0s 625us/step - loss: 0.5487 - accuracy: 0.7336 - recall: 0.7921 - val_loss: 0.5594 - val_accuracy: 0.7227 - val_recall: 0.7925
Epoch 7/100
684/684 [==============================] - 0s 625us/step - loss: 0.5485 - accuracy: 0.7332 - recall: 0.7932 - val_loss: 0.5578 - val_accuracy: 0.7225 - val_recall: 0.8031
Epoch 8/100
684/684 [==============================] - 0s 624us/step - loss: 0.5475 - accuracy: 0.7335 - recall: 0.7983 - val_loss: 0.5532 - val_accuracy: 0.7274 - val_recall: 0.7939
Epoch 9/100
684/684 [==============================] - 0s 626us/step - loss: 0.5472 - accuracy: 0.7344 - recall: 0.7899 - val_loss: 0.5543 - val_accuracy: 0.7238 - val_recall: 0.7915
Epoch 10/100
684/684 [==============================] - 0s 651us/step - loss: 0.5469 - accuracy: 0.7332 - recall: 0.7940 - val_loss: 0.5527 - val_accuracy: 0.7245 - val_recall: 0.7915
Epoch 11/100
684/684 [==============================] - 0s 631us/step - loss: 0.5464 - accuracy: 0.7337 - recall: 0.7912 - val_loss: 0.5551 - val_accuracy: 0.7191 - val_recall: 0.7790
Epoch 12/100
684/684 [==============================] - 0s 632us/step - loss: 0.5453 - accuracy: 0.7335 - recall: 0.7932 - val_loss: 0.5559 - val_accuracy: 0.7258 - val_recall: 0.7780
Epoch 13/100
684/684 [==============================] - 0s 635us/step - loss: 0.5455 - accuracy: 0.7329 - recall: 0.7915 - val_loss: 0.5549 - val_accuracy: 0.7230 - val_recall: 0.8002
Epoch 14/100
684/684 [==============================] - 0s 626us/step - loss: 0.5455 - accuracy: 0.7342 - recall: 0.7926 - val_loss: 0.5571 - val_accuracy: 0.7214 - val_recall: 0.7997
Epoch 15/100
684/684 [==============================] - 0s 629us/step - loss: 0.5444 - accuracy: 0.7351 - recall: 0.7935 - val_loss: 0.5554 - val_accuracy: 0.7214 - val_recall: 0.7876
Epoch 16/100
684/684 [==============================] - 0s 626us/step - loss: 0.5443 - accuracy: 0.7357 - recall: 0.7953 - val_loss: 0.5568 - val_accuracy: 0.7230 - val_recall: 0.7963
Epoch 17/100
684/684 [==============================] - 0s 626us/step - loss: 0.5438 - accuracy: 0.7357 - recall: 0.7938 - val_loss: 0.5569 - val_accuracy: 0.7181 - val_recall: 0.7823
Epoch 18/100
684/684 [==============================] - 0s 665us/step - loss: 0.5439 - accuracy: 0.7361 - recall: 0.7965 - val_loss: 0.5566 - val_accuracy: 0.7214 - val_recall: 0.7934
Epoch 19/100
684/684 [==============================] - 0s 635us/step - loss: 0.5433 - accuracy: 0.7355 - recall: 0.7947 - val_loss: 0.5550 - val_accuracy: 0.7225 - val_recall: 0.7785
Epoch 20/100
684/684 [==============================] - 0s 641us/step - loss: 0.5433 - accuracy: 0.7355 - recall: 0.7946 - val_loss: 0.5557 - val_accuracy: 0.7243 - val_recall: 0.7901
Epoch 21/100
684/684 [==============================] - 0s 630us/step - loss: 0.5422 - accuracy: 0.7373 - recall: 0.7986 - val_loss: 0.5558 - val_accuracy: 0.7217 - val_recall: 0.7770
Epoch 22/100
684/684 [==============================] - 0s 633us/step - loss: 0.5427 - accuracy: 0.7374 - recall: 0.7958 - val_loss: 0.5545 - val_accuracy: 0.7251 - val_recall: 0.7833
Epoch 23/100
684/684 [==============================] - 0s 629us/step - loss: 0.5418 - accuracy: 0.7367 - recall: 0.7939 - val_loss: 0.5577 - val_accuracy: 0.7238 - val_recall: 0.7833
Epoch 24/100
684/684 [==============================] - 0s 659us/step - loss: 0.5424 - accuracy: 0.7357 - recall: 0.7934 - val_loss: 0.5554 - val_accuracy: 0.7238 - val_recall: 0.7973
Epoch 25/100
684/684 [==============================] - 0s 635us/step - loss: 0.5420 - accuracy: 0.7374 - recall: 0.7979 - val_loss: 0.5571 - val_accuracy: 0.7191 - val_recall: 0.7823
Epoch 26/100
684/684 [==============================] - 0s 625us/step - loss: 0.5420 - accuracy: 0.7367 - recall: 0.7939 - val_loss: 0.5544 - val_accuracy: 0.7201 - val_recall: 0.7674
Epoch 27/100
684/684 [==============================] - 0s 625us/step - loss: 0.5416 - accuracy: 0.7368 - recall: 0.7964 - val_loss: 0.5589 - val_accuracy: 0.7227 - val_recall: 0.7934
Epoch 28/100
684/684 [==============================] - 0s 623us/step - loss: 0.5414 - accuracy: 0.7372 - recall: 0.7943 - val_loss: 0.5584 - val_accuracy: 0.7217 - val_recall: 0.8026
Epoch 29/100
684/684 [==============================] - 0s 623us/step - loss: 0.5413 - accuracy: 0.7360 - recall: 0.7945 - val_loss: 0.5576 - val_accuracy: 0.7204 - val_recall: 0.7891
Epoch 30/100
684/684 [==============================] - 0s 622us/step - loss: 0.5409 - accuracy: 0.7368 - recall: 0.7945 - val_loss: 0.5600 - val_accuracy: 0.7230 - val_recall: 0.8002
Epoch 31/100
684/684 [==============================] - 0s 645us/step - loss: 0.5410 - accuracy: 0.7380 - recall: 0.7985 - val_loss: 0.5601 - val_accuracy: 0.7219 - val_recall: 0.7944
Epoch 32/100
684/684 [==============================] - 0s 651us/step - loss: 0.5404 - accuracy: 0.7382 - recall: 0.7972 - val_loss: 0.5580 - val_accuracy: 0.7240 - val_recall: 0.7823
Epoch 33/100
684/684 [==============================] - 0s 643us/step - loss: 0.5405 - accuracy: 0.7375 - recall: 0.7965 - val_loss: 0.5574 - val_accuracy: 0.7230 - val_recall: 0.7949
Epoch 34/100
684/684 [==============================] - 0s 621us/step - loss: 0.5403 - accuracy: 0.7371 - recall: 0.7972 - val_loss: 0.5600 - val_accuracy: 0.7230 - val_recall: 0.8007
Epoch 35/100
684/684 [==============================] - 0s 644us/step - loss: 0.5402 - accuracy: 0.7386 - recall: 0.7982 - val_loss: 0.5592 - val_accuracy: 0.7201 - val_recall: 0.7968
Epoch 36/100
684/684 [==============================] - 0s 666us/step - loss: 0.5401 - accuracy: 0.7382 - recall: 0.7973 - val_loss: 0.5563 - val_accuracy: 0.7212 - val_recall: 0.7857
Epoch 37/100
684/684 [==============================] - 0s 624us/step - loss: 0.5398 - accuracy: 0.7373 - recall: 0.7945 - val_loss: 0.5602 - val_accuracy: 0.7207 - val_recall: 0.7973
Epoch 38/100
684/684 [==============================] - 0s 627us/step - loss: 0.5398 - accuracy: 0.7387 - recall: 0.7991 - val_loss: 0.5617 - val_accuracy: 0.7196 - val_recall: 0.7944
Epoch 39/100
684/684 [==============================] - 0s 626us/step - loss: 0.5397 - accuracy: 0.7376 - recall: 0.7969 - val_loss: 0.5577 - val_accuracy: 0.7212 - val_recall: 0.7963
Epoch 40/100
684/684 [==============================] - 0s 631us/step - loss: 0.5396 - accuracy: 0.7375 - recall: 0.7930 - val_loss: 0.5575 - val_accuracy: 0.7201 - val_recall: 0.7876
Epoch 41/100
684/684 [==============================] - 0s 632us/step - loss: 0.5390 - accuracy: 0.7392 - recall: 0.7977 - val_loss: 0.5586 - val_accuracy: 0.7204 - val_recall: 0.7930
Epoch 42/100
684/684 [==============================] - 0s 624us/step - loss: 0.5395 - accuracy: 0.7376 - recall: 0.7959 - val_loss: 0.5602 - val_accuracy: 0.7230 - val_recall: 0.7954
Epoch 43/100
684/684 [==============================] - 0s 628us/step - loss: 0.5397 - accuracy: 0.7378 - recall: 0.7945 - val_loss: 0.5580 - val_accuracy: 0.7225 - val_recall: 0.7958
Epoch 44/100
684/684 [==============================] - 0s 626us/step - loss: 0.5391 - accuracy: 0.7377 - recall: 0.7967 - val_loss: 0.5644 - val_accuracy: 0.7225 - val_recall: 0.7930
Epoch 45/100
684/684 [==============================] - 0s 656us/step - loss: 0.5391 - accuracy: 0.7381 - recall: 0.7949 - val_loss: 0.5603 - val_accuracy: 0.7199 - val_recall: 0.7819
Epoch 46/100
684/684 [==============================] - 0s 622us/step - loss: 0.5390 - accuracy: 0.7385 - recall: 0.7982 - val_loss: 0.5601 - val_accuracy: 0.7219 - val_recall: 0.7968
Epoch 47/100
684/684 [==============================] - 0s 627us/step - loss: 0.5386 - accuracy: 0.7389 - recall: 0.7927 - val_loss: 0.5629 - val_accuracy: 0.7219 - val_recall: 0.7983
Epoch 48/100
684/684 [==============================] - 0s 620us/step - loss: 0.5388 - accuracy: 0.7386 - recall: 0.7981 - val_loss: 0.5602 - val_accuracy: 0.7194 - val_recall: 0.7819
Epoch 49/100
684/684 [==============================] - 0s 626us/step - loss: 0.5386 - accuracy: 0.7393 - recall: 0.7968 - val_loss: 0.5610 - val_accuracy: 0.7217 - val_recall: 0.7973
Epoch 50/100
684/684 [==============================] - 0s 632us/step - loss: 0.5383 - accuracy: 0.7393 - recall: 0.8005 - val_loss: 0.5629 - val_accuracy: 0.7212 - val_recall: 0.7915
Epoch 51/100
684/684 [==============================] - 0s 656us/step - loss: 0.5386 - accuracy: 0.7394 - recall: 0.7959 - val_loss: 0.5601 - val_accuracy: 0.7183 - val_recall: 0.7790
Epoch 52/100
684/684 [==============================] - 0s 631us/step - loss: 0.5376 - accuracy: 0.7388 - recall: 0.8001 - val_loss: 0.5624 - val_accuracy: 0.7212 - val_recall: 0.7722
Epoch 53/100
684/684 [==============================] - 0s 627us/step - loss: 0.5380 - accuracy: 0.7382 - recall: 0.7972 - val_loss: 0.5597 - val_accuracy: 0.7214 - val_recall: 0.7958
Epoch 54/100
684/684 [==============================] - 0s 629us/step - loss: 0.5379 - accuracy: 0.7385 - recall: 0.7960 - val_loss: 0.5588 - val_accuracy: 0.7230 - val_recall: 0.7954
Epoch 55/100
684/684 [==============================] - 0s 632us/step - loss: 0.5370 - accuracy: 0.7385 - recall: 0.7972 - val_loss: 0.5620 - val_accuracy: 0.7217 - val_recall: 0.7954
Epoch 56/100
684/684 [==============================] - 0s 629us/step - loss: 0.5378 - accuracy: 0.7389 - recall: 0.7966 - val_loss: 0.5605 - val_accuracy: 0.7219 - val_recall: 0.7896
Epoch 57/100
684/684 [==============================] - 0s 635us/step - loss: 0.5380 - accuracy: 0.7397 - recall: 0.7980 - val_loss: 0.5623 - val_accuracy: 0.7232 - val_recall: 0.8041
Epoch 58/100
684/684 [==============================] - 0s 632us/step - loss: 0.5379 - accuracy: 0.7397 - recall: 0.7996 - val_loss: 0.5595 - val_accuracy: 0.7217 - val_recall: 0.7896
Epoch 59/100
684/684 [==============================] - 0s 654us/step - loss: 0.5374 - accuracy: 0.7389 - recall: 0.7978 - val_loss: 0.5618 - val_accuracy: 0.7222 - val_recall: 0.7823
Epoch 60/100
684/684 [==============================] - 0s 621us/step - loss: 0.5377 - accuracy: 0.7396 - recall: 0.7954 - val_loss: 0.5620 - val_accuracy: 0.7217 - val_recall: 0.7968
Epoch 61/100
684/684 [==============================] - 0s 630us/step - loss: 0.5370 - accuracy: 0.7397 - recall: 0.7965 - val_loss: 0.5629 - val_accuracy: 0.7219 - val_recall: 0.7968
Epoch 62/100
684/684 [==============================] - 0s 623us/step - loss: 0.5374 - accuracy: 0.7404 - recall: 0.8004 - val_loss: 0.5606 - val_accuracy: 0.7214 - val_recall: 0.7896
Epoch 63/100
684/684 [==============================] - 0s 622us/step - loss: 0.5371 - accuracy: 0.7402 - recall: 0.7972 - val_loss: 0.5657 - val_accuracy: 0.7232 - val_recall: 0.7949
Epoch 64/100
684/684 [==============================] - 0s 655us/step - loss: 0.5366 - accuracy: 0.7387 - recall: 0.8010 - val_loss: 0.5635 - val_accuracy: 0.7209 - val_recall: 0.7968
Epoch 65/100
684/684 [==============================] - 0s 629us/step - loss: 0.5371 - accuracy: 0.7400 - recall: 0.7986 - val_loss: 0.5599 - val_accuracy: 0.7209 - val_recall: 0.7891
Epoch 66/100
684/684 [==============================] - 0s 617us/step - loss: 0.5366 - accuracy: 0.7395 - recall: 0.7998 - val_loss: 0.5618 - val_accuracy: 0.7212 - val_recall: 0.7901
Epoch 67/100
684/684 [==============================] - 0s 619us/step - loss: 0.5373 - accuracy: 0.7396 - recall: 0.7973 - val_loss: 0.5599 - val_accuracy: 0.7225 - val_recall: 0.7910
Epoch 68/100
684/684 [==============================] - 0s 612us/step - loss: 0.5370 - accuracy: 0.7397 - recall: 0.7984 - val_loss: 0.5620 - val_accuracy: 0.7227 - val_recall: 0.7891
Epoch 69/100
684/684 [==============================] - 0s 646us/step - loss: 0.5366 - accuracy: 0.7398 - recall: 0.8001 - val_loss: 0.5587 - val_accuracy: 0.7219 - val_recall: 0.7910
Epoch 70/100
684/684 [==============================] - 0s 620us/step - loss: 0.5367 - accuracy: 0.7403 - recall: 0.8001 - val_loss: 0.5604 - val_accuracy: 0.7207 - val_recall: 0.7896
Epoch 71/100
684/684 [==============================] - 0s 616us/step - loss: 0.5372 - accuracy: 0.7393 - recall: 0.8009 - val_loss: 0.5629 - val_accuracy: 0.7207 - val_recall: 0.7872
Epoch 72/100
684/684 [==============================] - 0s 621us/step - loss: 0.5364 - accuracy: 0.7396 - recall: 0.7975 - val_loss: 0.5646 - val_accuracy: 0.7217 - val_recall: 0.7925
Epoch 73/100
684/684 [==============================] - 0s 613us/step - loss: 0.5365 - accuracy: 0.7402 - recall: 0.7984 - val_loss: 0.5614 - val_accuracy: 0.7204 - val_recall: 0.7925
Epoch 74/100
684/684 [==============================] - 0s 616us/step - loss: 0.5365 - accuracy: 0.7402 - recall: 0.8030 - val_loss: 0.5638 - val_accuracy: 0.7227 - val_recall: 0.7896
Epoch 75/100
684/684 [==============================] - 0s 621us/step - loss: 0.5366 - accuracy: 0.7405 - recall: 0.7980 - val_loss: 0.5636 - val_accuracy: 0.7191 - val_recall: 0.7872
Epoch 76/100
684/684 [==============================] - 0s 618us/step - loss: 0.5364 - accuracy: 0.7403 - recall: 0.7967 - val_loss: 0.5621 - val_accuracy: 0.7217 - val_recall: 0.7901
Epoch 77/100
684/684 [==============================] - 0s 619us/step - loss: 0.5359 - accuracy: 0.7404 - recall: 0.7978 - val_loss: 0.5610 - val_accuracy: 0.7222 - val_recall: 0.7876
Epoch 78/100
684/684 [==============================] - 0s 619us/step - loss: 0.5362 - accuracy: 0.7401 - recall: 0.7968 - val_loss: 0.5659 - val_accuracy: 0.7225 - val_recall: 0.8069
Epoch 79/100
684/684 [==============================] - 0s 622us/step - loss: 0.5363 - accuracy: 0.7403 - recall: 0.7965 - val_loss: 0.5612 - val_accuracy: 0.7230 - val_recall: 0.7930
Epoch 80/100
684/684 [==============================] - 0s 618us/step - loss: 0.5364 - accuracy: 0.7401 - recall: 0.8018 - val_loss: 0.5629 - val_accuracy: 0.7207 - val_recall: 0.7910
Epoch 81/100
684/684 [==============================] - 0s 623us/step - loss: 0.5360 - accuracy: 0.7404 - recall: 0.7953 - val_loss: 0.5649 - val_accuracy: 0.7219 - val_recall: 0.7939
Epoch 82/100
684/684 [==============================] - 0s 617us/step - loss: 0.5363 - accuracy: 0.7405 - recall: 0.7985 - val_loss: 0.5621 - val_accuracy: 0.7217 - val_recall: 0.7891
Epoch 83/100
684/684 [==============================] - 0s 617us/step - loss: 0.5360 - accuracy: 0.7399 - recall: 0.8003 - val_loss: 0.5641 - val_accuracy: 0.7214 - val_recall: 0.7891
Epoch 84/100
684/684 [==============================] - 0s 648us/step - loss: 0.5361 - accuracy: 0.7404 - recall: 0.7990 - val_loss: 0.5627 - val_accuracy: 0.7214 - val_recall: 0.7905
Epoch 85/100
684/684 [==============================] - 0s 626us/step - loss: 0.5358 - accuracy: 0.7404 - recall: 0.7991 - val_loss: 0.5632 - val_accuracy: 0.7225 - val_recall: 0.7891
Epoch 86/100
684/684 [==============================] - 0s 623us/step - loss: 0.5357 - accuracy: 0.7403 - recall: 0.8010 - val_loss: 0.5616 - val_accuracy: 0.7227 - val_recall: 0.7857
Epoch 87/100
684/684 [==============================] - 0s 621us/step - loss: 0.5359 - accuracy: 0.7402 - recall: 0.7976 - val_loss: 0.5671 - val_accuracy: 0.7227 - val_recall: 0.7954
Epoch 88/100
684/684 [==============================] - 0s 626us/step - loss: 0.5358 - accuracy: 0.7404 - recall: 0.7995 - val_loss: 0.5631 - val_accuracy: 0.7225 - val_recall: 0.7838
Epoch 89/100
684/684 [==============================] - 0s 623us/step - loss: 0.5361 - accuracy: 0.7405 - recall: 0.7974 - val_loss: 0.5651 - val_accuracy: 0.7212 - val_recall: 0.7954
Epoch 90/100
684/684 [==============================] - 0s 658us/step - loss: 0.5354 - accuracy: 0.7401 - recall: 0.7979 - val_loss: 0.5643 - val_accuracy: 0.7235 - val_recall: 0.7968
Epoch 91/100
684/684 [==============================] - 0s 624us/step - loss: 0.5356 - accuracy: 0.7400 - recall: 0.7984 - val_loss: 0.5637 - val_accuracy: 0.7227 - val_recall: 0.7939
Epoch 92/100
684/684 [==============================] - 0s 622us/step - loss: 0.5355 - accuracy: 0.7403 - recall: 0.7986 - val_loss: 0.5638 - val_accuracy: 0.7225 - val_recall: 0.7934
Epoch 93/100
684/684 [==============================] - 0s 626us/step - loss: 0.5356 - accuracy: 0.7399 - recall: 0.7997 - val_loss: 0.5625 - val_accuracy: 0.7222 - val_recall: 0.7886
Epoch 94/100
684/684 [==============================] - 0s 621us/step - loss: 0.5351 - accuracy: 0.7401 - recall: 0.7994 - val_loss: 0.5637 - val_accuracy: 0.7219 - val_recall: 0.7905
Epoch 95/100
684/684 [==============================] - 0s 619us/step - loss: 0.5352 - accuracy: 0.7406 - recall: 0.7977 - val_loss: 0.5631 - val_accuracy: 0.7219 - val_recall: 0.7896
Epoch 96/100
684/684 [==============================] - 0s 618us/step - loss: 0.5351 - accuracy: 0.7410 - recall: 0.7991 - val_loss: 0.5626 - val_accuracy: 0.7227 - val_recall: 0.7881
Epoch 97/100
684/684 [==============================] - 0s 643us/step - loss: 0.5360 - accuracy: 0.7409 - recall: 0.7991 - val_loss: 0.5638 - val_accuracy: 0.7209 - val_recall: 0.7876
Epoch 98/100
684/684 [==============================] - 0s 614us/step - loss: 0.5352 - accuracy: 0.7405 - recall: 0.7973 - val_loss: 0.5648 - val_accuracy: 0.7209 - val_recall: 0.7891
Epoch 99/100
684/684 [==============================] - 0s 615us/step - loss: 0.5350 - accuracy: 0.7410 - recall: 0.7991 - val_loss: 0.5655 - val_accuracy: 0.7217 - val_recall: 0.7891
Epoch 100/100
684/684 [==============================] - 0s 615us/step - loss: 0.5351 - accuracy: 0.7405 - recall: 0.7980 - val_loss: 0.5678 - val_accuracy: 0.7225 - val_recall: 0.7925

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy, model_Recall= nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5624 - accuracy: 0.7312 - recall: 0.7954 - 101ms/epoch - 375us/step
Loss: 0.5624494552612305, Accuracy: 0.731195330619812

In [38]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoup.h5")