## Preprocessing

In [35]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

IS_SUCCESSFUL = Target

Features =APPLICATION_TYPE,AFFILIATION	CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS	INCOME_AMT,	SPECIAL_CONSIDERATIONS,	ASK_AMT

In [36]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(labels=["EIN", "NAME"], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [37]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 200].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C1728        1
C1370        1
C2570        1
C2600        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
replace_class = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [42]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, dtype=float)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [43]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [44]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

X_train.shape

(25724, 43)

## Compile, Train and Evaluate the Model

In [45]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=80
hidden_nodes_layer2=30

nn_model = tf.keras.models.Sequential()

# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn_model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [47]:
# Compile the model
nn_model.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy', tf.keras.metrics.Recall()])

In [48]:
# Train the model
fit_model = nn_model.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 1s 769us/step - loss: 0.5757 - accuracy: 0.7194 - recall_2: 0.7739 - val_loss: 0.5482 - val_accuracy: 0.7354 - val_recall_2: 0.7501
Epoch 2/100
684/684 [==============================] - 0s 651us/step - loss: 0.5583 - accuracy: 0.7279 - recall_2: 0.7871 - val_loss: 0.5517 - val_accuracy: 0.7334 - val_recall_2: 0.7705
Epoch 3/100
684/684 [==============================] - 0s 617us/step - loss: 0.5554 - accuracy: 0.7295 - recall_2: 0.7929 - val_loss: 0.5478 - val_accuracy: 0.7359 - val_recall_2: 0.7730
Epoch 4/100
684/684 [==============================] - 0s 611us/step - loss: 0.5531 - accuracy: 0.7284 - recall_2: 0.7893 - val_loss: 0.5466 - val_accuracy: 0.7341 - val_recall_2: 0.7914
Epoch 5/100
684/684 [==============================] - 0s 612us/step - loss: 0.5504 - accuracy: 0.7298 - recall_2: 0.7924 - val_loss: 0.5483 - val_accuracy: 0.7352 - val_recall_2: 0.7656
Epoch 6/100
684/684 [==============================] - 0s 615us/step - loss: 0.5500 - accuracy: 0.7308 - recall_2: 0.7943 - val_loss: 0.5508 - val_accuracy: 0.7341 - val_recall_2: 0.7417
Epoch 7/100
684/684 [==============================] - 0s 614us/step - loss: 0.5496 - accuracy: 0.7308 - recall_2: 0.7901 - val_loss: 0.5467 - val_accuracy: 0.7321 - val_recall_2: 0.7571
Epoch 8/100
684/684 [==============================] - 0s 631us/step - loss: 0.5490 - accuracy: 0.7314 - recall_2: 0.7950 - val_loss: 0.5464 - val_accuracy: 0.7334 - val_recall_2: 0.7616
Epoch 9/100
684/684 [==============================] - 0s 616us/step - loss: 0.5478 - accuracy: 0.7311 - recall_2: 0.7949 - val_loss: 0.5475 - val_accuracy: 0.7334 - val_recall_2: 0.7521
Epoch 10/100
684/684 [==============================] - 0s 613us/step - loss: 0.5473 - accuracy: 0.7328 - recall_2: 0.7903 - val_loss: 0.5463 - val_accuracy: 0.7331 - val_recall_2: 0.7501
Epoch 11/100
684/684 [==============================] - 0s 612us/step - loss: 0.5470 - accuracy: 0.7327 - recall_2: 0.7919 - val_loss: 0.5441 - val_accuracy: 0.7346 - val_recall_2: 0.7611
Epoch 12/100
684/684 [==============================] - 0s 615us/step - loss: 0.5464 - accuracy: 0.7338 - recall_2: 0.7938 - val_loss: 0.5449 - val_accuracy: 0.7341 - val_recall_2: 0.7750
Epoch 13/100
684/684 [==============================] - 0s 616us/step - loss: 0.5456 - accuracy: 0.7334 - recall_2: 0.7909 - val_loss: 0.5464 - val_accuracy: 0.7331 - val_recall_2: 0.7666
Epoch 14/100
684/684 [==============================] - 0s 627us/step - loss: 0.5446 - accuracy: 0.7341 - recall_2: 0.7944 - val_loss: 0.5498 - val_accuracy: 0.7321 - val_recall_2: 0.7466
Epoch 15/100
684/684 [==============================] - 0s 664us/step - loss: 0.5452 - accuracy: 0.7345 - recall_2: 0.7959 - val_loss: 0.5463 - val_accuracy: 0.7334 - val_recall_2: 0.7491
Epoch 16/100
684/684 [==============================] - 0s 622us/step - loss: 0.5445 - accuracy: 0.7340 - recall_2: 0.7870 - val_loss: 0.5439 - val_accuracy: 0.7346 - val_recall_2: 0.7924
Epoch 17/100
684/684 [==============================] - 0s 660us/step - loss: 0.5441 - accuracy: 0.7337 - recall_2: 0.7956 - val_loss: 0.5471 - val_accuracy: 0.7318 - val_recall_2: 0.7651
Epoch 18/100
684/684 [==============================] - 0s 614us/step - loss: 0.5442 - accuracy: 0.7339 - recall_2: 0.7937 - val_loss: 0.5429 - val_accuracy: 0.7336 - val_recall_2: 0.7745
Epoch 19/100
684/684 [==============================] - 0s 609us/step - loss: 0.5434 - accuracy: 0.7342 - recall_2: 0.7955 - val_loss: 0.5454 - val_accuracy: 0.7344 - val_recall_2: 0.7675
Epoch 20/100
684/684 [==============================] - 0s 620us/step - loss: 0.5430 - accuracy: 0.7342 - recall_2: 0.7956 - val_loss: 0.5447 - val_accuracy: 0.7305 - val_recall_2: 0.7880
Epoch 21/100
684/684 [==============================] - 0s 611us/step - loss: 0.5428 - accuracy: 0.7343 - recall_2: 0.7932 - val_loss: 0.5476 - val_accuracy: 0.7349 - val_recall_2: 0.7690
Epoch 22/100
684/684 [==============================] - 0s 606us/step - loss: 0.5435 - accuracy: 0.7349 - recall_2: 0.7905 - val_loss: 0.5452 - val_accuracy: 0.7334 - val_recall_2: 0.7715
Epoch 23/100
684/684 [==============================] - 0s 610us/step - loss: 0.5427 - accuracy: 0.7351 - recall_2: 0.7929 - val_loss: 0.5462 - val_accuracy: 0.7336 - val_recall_2: 0.7596
Epoch 24/100
684/684 [==============================] - 0s 620us/step - loss: 0.5427 - accuracy: 0.7357 - recall_2: 0.7958 - val_loss: 0.5469 - val_accuracy: 0.7318 - val_recall_2: 0.7621
Epoch 25/100
684/684 [==============================] - 0s 607us/step - loss: 0.5422 - accuracy: 0.7355 - recall_2: 0.7925 - val_loss: 0.5454 - val_accuracy: 0.7331 - val_recall_2: 0.7715
Epoch 26/100
684/684 [==============================] - 0s 633us/step - loss: 0.5427 - accuracy: 0.7360 - recall_2: 0.7904 - val_loss: 0.5456 - val_accuracy: 0.7328 - val_recall_2: 0.7690
Epoch 27/100
684/684 [==============================] - 0s 608us/step - loss: 0.5420 - accuracy: 0.7351 - recall_2: 0.8014 - val_loss: 0.5470 - val_accuracy: 0.7341 - val_recall_2: 0.7860
Epoch 28/100
684/684 [==============================] - 0s 610us/step - loss: 0.5415 - accuracy: 0.7371 - recall_2: 0.7947 - val_loss: 0.5457 - val_accuracy: 0.7339 - val_recall_2: 0.7670
Epoch 29/100
684/684 [==============================] - 0s 613us/step - loss: 0.5417 - accuracy: 0.7351 - recall_2: 0.7934 - val_loss: 0.5445 - val_accuracy: 0.7349 - val_recall_2: 0.7680
Epoch 30/100
684/684 [==============================] - 0s 605us/step - loss: 0.5414 - accuracy: 0.7367 - recall_2: 0.7936 - val_loss: 0.5480 - val_accuracy: 0.7341 - val_recall_2: 0.7576
Epoch 31/100
684/684 [==============================] - 0s 607us/step - loss: 0.5405 - accuracy: 0.7361 - recall_2: 0.7950 - val_loss: 0.5467 - val_accuracy: 0.7328 - val_recall_2: 0.8173
Epoch 32/100
684/684 [==============================] - 0s 605us/step - loss: 0.5413 - accuracy: 0.7355 - recall_2: 0.7956 - val_loss: 0.5467 - val_accuracy: 0.7326 - val_recall_2: 0.7646
Epoch 33/100
684/684 [==============================] - 0s 606us/step - loss: 0.5409 - accuracy: 0.7358 - recall_2: 0.7898 - val_loss: 0.5473 - val_accuracy: 0.7328 - val_recall_2: 0.7745
Epoch 34/100
684/684 [==============================] - 0s 610us/step - loss: 0.5407 - accuracy: 0.7367 - recall_2: 0.7929 - val_loss: 0.5470 - val_accuracy: 0.7326 - val_recall_2: 0.7865
Epoch 35/100
684/684 [==============================] - 0s 608us/step - loss: 0.5404 - accuracy: 0.7368 - recall_2: 0.7914 - val_loss: 0.5428 - val_accuracy: 0.7346 - val_recall_2: 0.7775
Epoch 36/100
684/684 [==============================] - 0s 610us/step - loss: 0.5401 - accuracy: 0.7359 - recall_2: 0.7958 - val_loss: 0.5451 - val_accuracy: 0.7339 - val_recall_2: 0.7641
Epoch 37/100
684/684 [==============================] - 0s 604us/step - loss: 0.5404 - accuracy: 0.7367 - recall_2: 0.7941 - val_loss: 0.5424 - val_accuracy: 0.7352 - val_recall_2: 0.7710
Epoch 38/100
684/684 [==============================] - 0s 608us/step - loss: 0.5395 - accuracy: 0.7365 - recall_2: 0.7937 - val_loss: 0.5435 - val_accuracy: 0.7331 - val_recall_2: 0.7596
Epoch 39/100
684/684 [==============================] - 0s 610us/step - loss: 0.5403 - accuracy: 0.7367 - recall_2: 0.7943 - val_loss: 0.5426 - val_accuracy: 0.7367 - val_recall_2: 0.7685
Epoch 40/100
684/684 [==============================] - 0s 637us/step - loss: 0.5402 - accuracy: 0.7373 - recall_2: 0.7985 - val_loss: 0.5430 - val_accuracy: 0.7341 - val_recall_2: 0.7646
Epoch 41/100
684/684 [==============================] - 0s 610us/step - loss: 0.5394 - accuracy: 0.7362 - recall_2: 0.7919 - val_loss: 0.5437 - val_accuracy: 0.7336 - val_recall_2: 0.7626
Epoch 42/100
684/684 [==============================] - 0s 611us/step - loss: 0.5392 - accuracy: 0.7377 - recall_2: 0.7933 - val_loss: 0.5458 - val_accuracy: 0.7323 - val_recall_2: 0.7626
Epoch 43/100
684/684 [==============================] - 0s 609us/step - loss: 0.5392 - accuracy: 0.7378 - recall_2: 0.7941 - val_loss: 0.5472 - val_accuracy: 0.7328 - val_recall_2: 0.7616
Epoch 44/100
684/684 [==============================] - 0s 610us/step - loss: 0.5394 - accuracy: 0.7369 - recall_2: 0.7935 - val_loss: 0.5443 - val_accuracy: 0.7328 - val_recall_2: 0.7611
Epoch 45/100
684/684 [==============================] - 0s 613us/step - loss: 0.5391 - accuracy: 0.7375 - recall_2: 0.7961 - val_loss: 0.5449 - val_accuracy: 0.7359 - val_recall_2: 0.7491
Epoch 46/100
684/684 [==============================] - 0s 616us/step - loss: 0.5388 - accuracy: 0.7373 - recall_2: 0.7907 - val_loss: 0.5443 - val_accuracy: 0.7339 - val_recall_2: 0.7621
Epoch 47/100
684/684 [==============================] - 0s 612us/step - loss: 0.5387 - accuracy: 0.7369 - recall_2: 0.7946 - val_loss: 0.5485 - val_accuracy: 0.7328 - val_recall_2: 0.7631
Epoch 48/100
684/684 [==============================] - 0s 613us/step - loss: 0.5389 - accuracy: 0.7383 - recall_2: 0.7942 - val_loss: 0.5435 - val_accuracy: 0.7341 - val_recall_2: 0.7675
Epoch 49/100
684/684 [==============================] - 0s 611us/step - loss: 0.5386 - accuracy: 0.7379 - recall_2: 0.7975 - val_loss: 0.5459 - val_accuracy: 0.7367 - val_recall_2: 0.7606
Epoch 50/100
684/684 [==============================] - 0s 612us/step - loss: 0.5389 - accuracy: 0.7376 - recall_2: 0.7953 - val_loss: 0.5431 - val_accuracy: 0.7357 - val_recall_2: 0.7566
Epoch 51/100
684/684 [==============================] - 0s 615us/step - loss: 0.5388 - accuracy: 0.7378 - recall_2: 0.7890 - val_loss: 0.5432 - val_accuracy: 0.7344 - val_recall_2: 0.7745
Epoch 52/100
684/684 [==============================] - 0s 614us/step - loss: 0.5380 - accuracy: 0.7374 - recall_2: 0.7948 - val_loss: 0.5471 - val_accuracy: 0.7344 - val_recall_2: 0.7626
Epoch 53/100
684/684 [==============================] - 0s 641us/step - loss: 0.5382 - accuracy: 0.7382 - recall_2: 0.7983 - val_loss: 0.5478 - val_accuracy: 0.7359 - val_recall_2: 0.7521
Epoch 54/100
684/684 [==============================] - 0s 603us/step - loss: 0.5377 - accuracy: 0.7377 - recall_2: 0.7945 - val_loss: 0.5455 - val_accuracy: 0.7328 - val_recall_2: 0.7601
Epoch 55/100
684/684 [==============================] - 0s 606us/step - loss: 0.5383 - accuracy: 0.7372 - recall_2: 0.7949 - val_loss: 0.5460 - val_accuracy: 0.7339 - val_recall_2: 0.7437
Epoch 56/100
684/684 [==============================] - 0s 608us/step - loss: 0.5378 - accuracy: 0.7371 - recall_2: 0.7903 - val_loss: 0.5459 - val_accuracy: 0.7346 - val_recall_2: 0.7591
Epoch 57/100
684/684 [==============================] - 0s 606us/step - loss: 0.5377 - accuracy: 0.7387 - recall_2: 0.7950 - val_loss: 0.5452 - val_accuracy: 0.7352 - val_recall_2: 0.7685
Epoch 58/100
684/684 [==============================] - 0s 606us/step - loss: 0.5377 - accuracy: 0.7381 - recall_2: 0.7971 - val_loss: 0.5470 - val_accuracy: 0.7349 - val_recall_2: 0.7685
Epoch 59/100
684/684 [==============================] - 0s 607us/step - loss: 0.5378 - accuracy: 0.7387 - recall_2: 0.7955 - val_loss: 0.5447 - val_accuracy: 0.7328 - val_recall_2: 0.7611
Epoch 60/100
684/684 [==============================] - 0s 606us/step - loss: 0.5375 - accuracy: 0.7390 - recall_2: 0.7963 - val_loss: 0.5458 - val_accuracy: 0.7344 - val_recall_2: 0.7670
Epoch 61/100
684/684 [==============================] - 0s 602us/step - loss: 0.5371 - accuracy: 0.7382 - recall_2: 0.7945 - val_loss: 0.5469 - val_accuracy: 0.7354 - val_recall_2: 0.7720
Epoch 62/100
684/684 [==============================] - 0s 599us/step - loss: 0.5370 - accuracy: 0.7389 - recall_2: 0.7993 - val_loss: 0.5457 - val_accuracy: 0.7346 - val_recall_2: 0.7656
Epoch 63/100
684/684 [==============================] - 0s 604us/step - loss: 0.5375 - accuracy: 0.7384 - recall_2: 0.7930 - val_loss: 0.5452 - val_accuracy: 0.7354 - val_recall_2: 0.7675
Epoch 64/100
684/684 [==============================] - 0s 601us/step - loss: 0.5366 - accuracy: 0.7385 - recall_2: 0.7971 - val_loss: 0.5477 - val_accuracy: 0.7323 - val_recall_2: 0.7606
Epoch 65/100
684/684 [==============================] - 0s 609us/step - loss: 0.5367 - accuracy: 0.7387 - recall_2: 0.7943 - val_loss: 0.5469 - val_accuracy: 0.7359 - val_recall_2: 0.7621
Epoch 66/100
684/684 [==============================] - 0s 603us/step - loss: 0.5369 - accuracy: 0.7385 - recall_2: 0.7940 - val_loss: 0.5461 - val_accuracy: 0.7370 - val_recall_2: 0.7685
Epoch 67/100
684/684 [==============================] - 0s 633us/step - loss: 0.5372 - accuracy: 0.7385 - recall_2: 0.7954 - val_loss: 0.5462 - val_accuracy: 0.7359 - val_recall_2: 0.7725
Epoch 68/100
684/684 [==============================] - 0s 610us/step - loss: 0.5367 - accuracy: 0.7397 - recall_2: 0.7974 - val_loss: 0.5453 - val_accuracy: 0.7331 - val_recall_2: 0.7611
Epoch 69/100
684/684 [==============================] - 0s 607us/step - loss: 0.5367 - accuracy: 0.7389 - recall_2: 0.7937 - val_loss: 0.5465 - val_accuracy: 0.7357 - val_recall_2: 0.7715
Epoch 70/100
684/684 [==============================] - 0s 608us/step - loss: 0.5363 - accuracy: 0.7383 - recall_2: 0.7943 - val_loss: 0.5491 - val_accuracy: 0.7334 - val_recall_2: 0.7621
Epoch 71/100
684/684 [==============================] - 0s 607us/step - loss: 0.5356 - accuracy: 0.7387 - recall_2: 0.7946 - val_loss: 0.5489 - val_accuracy: 0.7346 - val_recall_2: 0.7636
Epoch 72/100
684/684 [==============================] - 0s 607us/step - loss: 0.5367 - accuracy: 0.7384 - recall_2: 0.7955 - val_loss: 0.5457 - val_accuracy: 0.7336 - val_recall_2: 0.7690
Epoch 73/100
684/684 [==============================] - 0s 607us/step - loss: 0.5363 - accuracy: 0.7389 - recall_2: 0.7945 - val_loss: 0.5479 - val_accuracy: 0.7354 - val_recall_2: 0.7606
Epoch 74/100
684/684 [==============================] - 0s 607us/step - loss: 0.5365 - accuracy: 0.7387 - recall_2: 0.7961 - val_loss: 0.5459 - val_accuracy: 0.7359 - val_recall_2: 0.7755
Epoch 75/100
684/684 [==============================] - 0s 610us/step - loss: 0.5362 - accuracy: 0.7391 - recall_2: 0.8008 - val_loss: 0.5481 - val_accuracy: 0.7349 - val_recall_2: 0.7646
Epoch 76/100
684/684 [==============================] - 0s 606us/step - loss: 0.5361 - accuracy: 0.7384 - recall_2: 0.7952 - val_loss: 0.5462 - val_accuracy: 0.7346 - val_recall_2: 0.7606
Epoch 77/100
684/684 [==============================] - 0s 607us/step - loss: 0.5361 - accuracy: 0.7395 - recall_2: 0.7933 - val_loss: 0.5467 - val_accuracy: 0.7383 - val_recall_2: 0.7735
Epoch 78/100
684/684 [==============================] - 0s 617us/step - loss: 0.5359 - accuracy: 0.7390 - recall_2: 0.7943 - val_loss: 0.5481 - val_accuracy: 0.7349 - val_recall_2: 0.7606
Epoch 79/100
684/684 [==============================] - 0s 614us/step - loss: 0.5357 - accuracy: 0.7390 - recall_2: 0.7937 - val_loss: 0.5498 - val_accuracy: 0.7334 - val_recall_2: 0.7546
Epoch 80/100
684/684 [==============================] - 0s 637us/step - loss: 0.5355 - accuracy: 0.7387 - recall_2: 0.7912 - val_loss: 0.5477 - val_accuracy: 0.7346 - val_recall_2: 0.7661
Epoch 81/100
684/684 [==============================] - 0s 613us/step - loss: 0.5354 - accuracy: 0.7391 - recall_2: 0.7943 - val_loss: 0.5461 - val_accuracy: 0.7352 - val_recall_2: 0.7690
Epoch 82/100
684/684 [==============================] - 0s 621us/step - loss: 0.5355 - accuracy: 0.7394 - recall_2: 0.7950 - val_loss: 0.5478 - val_accuracy: 0.7349 - val_recall_2: 0.7506
Epoch 83/100
684/684 [==============================] - 0s 613us/step - loss: 0.5355 - accuracy: 0.7391 - recall_2: 0.7940 - val_loss: 0.5466 - val_accuracy: 0.7352 - val_recall_2: 0.7616
Epoch 84/100
684/684 [==============================] - 0s 613us/step - loss: 0.5355 - accuracy: 0.7387 - recall_2: 0.7927 - val_loss: 0.5478 - val_accuracy: 0.7352 - val_recall_2: 0.7661
Epoch 85/100
684/684 [==============================] - 0s 610us/step - loss: 0.5350 - accuracy: 0.7400 - recall_2: 0.7949 - val_loss: 0.5503 - val_accuracy: 0.7352 - val_recall_2: 0.7760
Epoch 86/100
684/684 [==============================] - 0s 613us/step - loss: 0.5354 - accuracy: 0.7394 - recall_2: 0.7966 - val_loss: 0.5484 - val_accuracy: 0.7370 - val_recall_2: 0.7690
Epoch 87/100
684/684 [==============================] - 0s 610us/step - loss: 0.5355 - accuracy: 0.7391 - recall_2: 0.7972 - val_loss: 0.5491 - val_accuracy: 0.7352 - val_recall_2: 0.7611
Epoch 88/100
684/684 [==============================] - 0s 612us/step - loss: 0.5353 - accuracy: 0.7393 - recall_2: 0.7935 - val_loss: 0.5458 - val_accuracy: 0.7357 - val_recall_2: 0.7690
Epoch 89/100
684/684 [==============================] - 0s 609us/step - loss: 0.5350 - accuracy: 0.7396 - recall_2: 0.7961 - val_loss: 0.5487 - val_accuracy: 0.7354 - val_recall_2: 0.7695
Epoch 90/100
684/684 [==============================] - 0s 607us/step - loss: 0.5347 - accuracy: 0.7392 - recall_2: 0.7937 - val_loss: 0.5513 - val_accuracy: 0.7380 - val_recall_2: 0.7805
Epoch 91/100
684/684 [==============================] - 0s 608us/step - loss: 0.5354 - accuracy: 0.7396 - recall_2: 0.7956 - val_loss: 0.5493 - val_accuracy: 0.7352 - val_recall_2: 0.7501
Epoch 92/100
684/684 [==============================] - 0s 614us/step - loss: 0.5348 - accuracy: 0.7389 - recall_2: 0.7929 - val_loss: 0.5508 - val_accuracy: 0.7352 - val_recall_2: 0.7680
Epoch 93/100
684/684 [==============================] - 0s 612us/step - loss: 0.5350 - accuracy: 0.7389 - recall_2: 0.7942 - val_loss: 0.5473 - val_accuracy: 0.7354 - val_recall_2: 0.7506
Epoch 94/100
684/684 [==============================] - 0s 611us/step - loss: 0.5347 - accuracy: 0.7391 - recall_2: 0.7940 - val_loss: 0.5480 - val_accuracy: 0.7359 - val_recall_2: 0.7725
Epoch 95/100
684/684 [==============================] - 0s 632us/step - loss: 0.5349 - accuracy: 0.7388 - recall_2: 0.7961 - val_loss: 0.5490 - val_accuracy: 0.7362 - val_recall_2: 0.7725
Epoch 96/100
684/684 [==============================] - 0s 609us/step - loss: 0.5346 - accuracy: 0.7391 - recall_2: 0.7951 - val_loss: 0.5511 - val_accuracy: 0.7367 - val_recall_2: 0.7765
Epoch 97/100
684/684 [==============================] - 0s 611us/step - loss: 0.5351 - accuracy: 0.7394 - recall_2: 0.7953 - val_loss: 0.5495 - val_accuracy: 0.7341 - val_recall_2: 0.7656
Epoch 98/100
684/684 [==============================] - 0s 611us/step - loss: 0.5345 - accuracy: 0.7389 - recall_2: 0.7922 - val_loss: 0.5491 - val_accuracy: 0.7349 - val_recall_2: 0.7661
Epoch 99/100
684/684 [==============================] - 0s 608us/step - loss: 0.5345 - accuracy: 0.7392 - recall_2: 0.7950 - val_loss: 0.5487 - val_accuracy: 0.7359 - val_recall_2: 0.7556
Epoch 100/100
684/684 [==============================] - 0s 610us/step - loss: 0.5342 - accuracy: 0.7394 - recall_2: 0.7953 - val_loss: 0.5492 - val_accuracy: 0.7323 - val_recall_2: 0.7566

In [49]:
# Evaluate the model using the test data
model_loss, model_accuracy, model_Recall= nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5660 - accuracy: 0.7249 - recall_2: 0.7728 - 100ms/epoch - 373us/step
Loss: 0.5660146474838257, Accuracy: 0.7248979806900024

Accuracy: 0.7248979806900024

In [50]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoup.h5")